html,body{
  height: 100%;
}
a,img,html,body,h1,h2,h3,h4,h5,i,ul,li,span,p,div,input{
  margin: 0;
  padding: 0;
}
body{
  line-height: 1;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
i{
  font-size: normal;
}
img{
  vertical-align: middle;
  border: none;
}
.el-dialog__header {
  background: linear-gradient(to right, #02c6fc, #1394fb);
}
.el-dialog__title {
  color: #ffffff;
}
.el-dialog__close {
  color: white;
}